.search-content {
  margin: 0 auto;
  max-width: 90%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-search-content {
  background-color: rgba(0, 0, 0, 0.816);
}

