.favourites-content {
  padding-top: 20px;
  margin: 0 auto;
  width: 85%;
}

.img-favourites {
  width: 80%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}