<p-carousel [value]="movieList" [numVisible]="7" [numScroll]="1" [showIndicators]="false">
  <ng-template let-movie pTemplate="movie">
    <div (click)="openDetailMovie(movie.id)" class="card-movie"
      style="background-image: url({{urlMovies + movie.poster_path}})">
      <div class="card-movie-info">
        <div class="p-fluid grid info-card">
          <div class="col-12">
            <h3>{{movie.original_title}}</h3>
            <h5>{{movie.release_date}}</h5>
            <p-knob [min]="0" [max]="100" [(ngModel)]="rating[movie.id]" [size]="50" valueTemplate="{value}%" valueColor="#FFD54F" rangeColor="#e8e8e8"></p-knob>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
<app-detail></app-detail>
