<p-carousel [value]="movieList" [numVisible]="7" [numScroll]="1" [showIndicators]="false">
  <ng-template let-movie pTemplate="movie">
    <div (click)="openDetailMovie(movie.id)" class="card-movie"
      style="background-image: url({{urlMovies + movie.poster_path}});">
      <div class="card-movie-info">
        <div class="p-fluid grid info-card">
          <div class=" col-12">
            <h3>{{movie.original_title}}</h3>
            <h5>{{movie.release_date}}</h5>
          </div>
        </div>
      </div>
      <!--<div class=" col-12">
        <div class="badges">
          <p-badge [value]="'6'" size="large" severity="success" styleClass="mr-2"></p-badge>
        </div>
      </div>-->
    </div>
  </ng-template>
</p-carousel>
<app-detail></app-detail>
