h4 {
  margin-left: 50px;
}

.loading {
  height: 250px;
  width: 100%;
  background-color: rgba(2, 2, 2, 0.216);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-movie {
  height: 250px;
  width: 150px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;	
  margin: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.card-movie-info {
  height: 251px;
  width: 151px;
  border-radius: 30px;
  opacity: 0;
  padding: 10px;
  padding-top: 80px;
}

.card-movie-info:hover {
  background-color: rgba(0, 0, 0, 0.568);
  border-radius: 30px;
  opacity: 1;
  z-index: 900;
}

.info-card {
  max-width: 150px;
  position: relative;
  transform: translateY(-40px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badges{
  opacity: 1;
  position: absolute;
  transform: translateY(-55px);
  margin-left: 95px;
}

